/*----------------------------------------------   
--Fonts
-----------------------------------------------  */
$font-header: "Montserrat", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-paragraph: "Noto Serfif", georgia, times, serif;

$mq-xsmall: 22em;
$mq-small: 36em;
$mq-med: 58em;
$mq-large: 86em;
$mq-xlarge: 115em;
$mq-xxlarge: 125em;
$mq-xxxlarge: 145em;

$base-lineheight: 1.8;

$color-alpha: #0C4DC0;
$color-beta: #123470;
