/*----------------------------------------------   
--Setup
-----------------------------------------------  */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

html {
	width: 100%;
}

html, body{
	height:	100%;
}
/*----------------------------------------------   
--Typography
-----------------------------------------------  */
body {
  font-family: $font-paragraph;
  color: #3A546B;
  line-height: $base-lineheight;
  background-color:	#fff;
  
  
/*----------------------------------------------   
--Fluid body sizing
-----------------------------------------------  */
  font-size: 100%;
  
  @media (min-width: $mq-small) {
    font-size: 110%
  }
  @media (min-width: $mq-med) {
    font-size: 120%
  }
  @media (min-width: $mq-large) {
    font-size: 140%
  }
  @media (min-width: $mq-xlarge) {
    font-size: 160%
  }
  @media (min-width: $mq-xxlarge) {
    font-size: 170%
  }
  @media (min-width: $mq-xxxlarge) {
    font-size: 180%
  }
}

/*----------------------------------------------   
--Images
-----------------------------------------------  */
img,object,embed{
  max-width:100%;
  width: 100%;
  height:auto;
  margin:0 auto;
}

img{
  -ms-interpolation-mode:bicubic;
  border: 0;
}

/*----------------------------------------------   
--Headers
-----------------------------------------------  */
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  font-family: $font-header;
  text-rendering:optimizeLegibility; 
}

h1 {
  font-size: 3.5em;
  line-height: 1.2;
  margin-top: 0.81em;
  margin-bottom: 0;
  @media (min-width: $mq-med) {
  	font-size: 8vmin;
  }
  @media (min-width: $mq-xlarge) {
  	font-size: 10vmin;
  }
  
}
h2 {
  font-size: 2.7em;
  line-height: 1.31em;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  @media (min-width: $mq-med) {
  	font-size: 8vmin;
  }
}

h2 span{
  font-size: 50%;
  color: #ccc;
  margin: 0 auto;
  border-top: 2px solid #ccc
}

h3 {
  font-size: 1.85em;
  line-height: 1.1em;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  @media (min-width: $mq-med) {
  	font-size: 4.8vmin;
  }
  
}
h4 {
  font-size: 1.6em;
  line-height: 1.1em;
  margin-top: 1.25em;
  margin-bottom: 1.1em;
}

p, ul, ol, pre, table, blockquote {
  font-family: $font-paragraph;
  margin-bottom:	0.75em;
}


/*----------------------------------------------   
--Code
-----------------------------------------------  */
code{
  overflow-x:scroll;
  width: 100%;
}
pre{
  background: #050F38;
  padding: 0.7em 1.5em;
  margin:	2em auto;
  color: #C9E1FF;
  width: 100%;
  font-size: 90%;
  white-space: pre-wrap !important;
  border-radius: 4px;
  position: relative;
  @media (max-width: $mq-med) {
    overflow-x:scroll;
  }  
}
code, pre{
	font-family:	Monaco, 'Andale Mono', monospace;
	 direction: ltr;
	text-align: left;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code.inline {
	font-size: 80%;
	background-color: #fefefe;
	border: 1px solid rgba(0,0,0,0.1);
	padding: .1em .3em .25em;
	color: #2F4A65;
	border-radius: 4px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
/*----------------------------------------------   
--Row Class
-----------------------------------------------  */
.row{  
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: $mq-small) {
    max-width:	75%;
  }
  @media (min-width: $mq-med) {
   	max-width: 70%;
 	}
 	@media (min-width: $mq-large) {
   	max-width: 60%
 	}
 	@media (min-width: $mq-xlarge) {
   	max-width: 45em
 	}
}

main{
  position: relative;
  z-index: 1;
}


/*----------------------------------------------   
--Media
-----------------------------------------------  */
figure{
position:	relative;
width:	100%;
margin:	0 auto;
	@include gradient-overlay($color-alpha, $color-beta, 0.7);
	
	img{
		display:	inherit;
	}
}


/*----------------------------------------------   
--Tables
-----------------------------------------------  */
table {
  max-width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0; }

.table {
	font-family:	$font-header;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.6; 
  border-collapse: collapse;
  border-spacing: 0;
  
  th,td {
    padding: 0.85em;
    vertical-align: top;
    line-height: 1.6;
    text-align: left;
    border-top: 1px solid #eeeeee; }
  th {
    font-weight: 700; }
  thead th {
    vertical-align: bottom; }
  thead {
    color: $color-alpha; }
  
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0; }
  tbody + tbody {
    border-top: 2px solid; }
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: $color-alpha;
    color:	#fff;
    @include transition(background-color 0.7s ease);
    }
}
 
 
 /*----------------------------------------------   
 --Button
 -----------------------------------------------  */
.btn{
 color: #fff;
 font-family: $font-header;
 border: 1px solid #fff;
 display: inline-block;
 vertical-align: middle;
 padding: 0.6em 1.5em;
 margin:	1em 0;
 border-radius: 38px;
 font-size: 90%;
 position:	relative;
 overflow:	hidden;
 @include transition(all 0.7s ease);
 
 &:hover {
		text-shadow:	0 0 10px rgba(255,255,255,0.9);
		box-shadow:	0 0 7px rgba(255,255,255,0.9);
		@include transition(all 0.7s ease);
 }
}
 


/*----------------------------------------------   
--Header
-----------------------------------------------  */
header{
 background: #fff;
 background:	#465776;
 background:	rgba(32, 60, 164, 0.91);
 box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
 width: 100%;
 position: fixed;
 left: 0;
 top: 0;
 padding: 0	0.5em;
 z-index: 9;
 height:	4em;
 
 /*--Logo--*/
 .logo{
 	display: inline;
 	width: 3em;
 	vertical-align: middle;
 	margin: 1em .2em 0;
 	color: #fff;
 	font-size: 1.8em;
 	border-bottom: 3px solid #fff;
 	position: relative;
 	line-height: 1.6;
 	
 	a{
 		color:	#fff;
 		@include transition(all 0.7s ease);
 		
 		&:hover{
 			color:	rgba(255,255,255,0.8);
 			@include transition(all 0.7s ease);
 		}
  }
 }
/*----------------------------------------------   
--Header Nav
-----------------------------------------------  */
	nav{
 	@include transition(transform 0.5s cubic-bezier(.34,.95,.27,.98));
 
  @media (max-width: $mq-med) {
  	background:	rgba($color-alpha, 0.9);
  	height:	100vh;
  	width:	100%;
  	top:	0;
  	right:	0;
  	position:	fixed;
  	display:	table;
  	@include transform(translate3d(100%, 0, 0));
   @include transition(transform 0.7s ease);
  }
  	
		@media (min-width: $mq-med) {
			display:	inline;
		}
  ul{
	  font-family: $font-header;
	  margin: 0 auto;
	  text-align:	center;
	  display:	table-cell;
	  vertical-align:	middle;
	  
	  @media (min-width: $mq-med) {
	   padding: 1em 0.5em;
	   margin:	0;
	   display:	block;
	   float: right;
	   text-align:	left;
	  }
  }
	 li{
	 	display:	block;
	 	padding:	0.5em 0;
	 
	 	@media (min-width: $mq-med) {
	   display:inline-block;
	   padding:	0;
	   margin-left: 0.75em;
	  } 
	 }
  a{
	  color:	#fff;
	  text-decoration:none;
	  @include transition(all 0.7s ease);
	  
	  &:hover, &.active{
	  	color:	rgba(255,255,255,0.6);
	  	@include transition(all 0.7s ease);
	  }
	 }
	}
}

/*----------------------------------------------   
--Open Nav on Mobile
-----------------------------------------------  */
.js-nav-open{
	nav{
		@include transform(translate3d(0, 0, 0));
		@include transition(transform 0.5s cubic-bezier(.34,.95,.27,.98))
	}
}

/*----------------------------------------------   
--Mobile Nav Toggle
-----------------------------------------------  */
.toggle {
 height: 3em;
 z-index: 9999;
 padding: 1em .6em 1em 1em;
 cursor: pointer;
 position: fixed;
 top: 0;
 right: 1%;
 @include transition(padding-top .5s cubic-bezier(0.1, 0.01, 0.3, 1));
 
 /*-- Hide on Large --*/
 @media (min-width: $mq-med) {
 	display:	none;
 }
 &:hover {
 	@include transition (top 0.5s ease-in-out)
 }
 &:hover .menubars:before {
  top: -9px; }
 &:hover .menubars:after {
  top: 9px; }
 span {
  position: absolute;
  top: .8em;
  right: -.3em;
  width: 3em;
  color: #fff;
 }
}

/*----------------------------------------------   
--Mobile Nav: Menu Bars
-----------------------------------------------  */
.menubars {
 width: 2em;
 height: 1px;
 margin: 0.75em 0;
 background: #fff;
 position: relative;
 @include transition (top 0.3s ease-in-out);
 
 &:before {
   top: -8px; 
 }
 &:after {
   top: 8px; 
 }
 &:after, &:before {
   content: '';
   display: block;
   width: 2em;
   height: 1px;
   background: #fff;
   position: absolute;
   z-index: -1;
   @include transition (all 0.3s ease-in-out); 
 }
} 

/*----------------------------------------------   
--Menu Bars Animate
-----------------------------------------------  */
.js-nav-open {
	.menubars {
	 background: none !important; 
	}

	.menubars:after {
  top: 0 !important;
  background: #fff !important;
  @include transform(rotate(45deg));
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45), M12=-sin(45), M21=sin(45), M22=cos(45));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45), M12=-sin(45), M21=sin(45), M22=cos(45))";
  zoom: 1; 
	}
	
	.menubars:before {
  top: 0 !important;
  background: #fff !important;
  @include transform(rotate(-45deg));
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-45), M12=-sin(-45), M21=sin(-45), M22=cos(-45));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-45), M12=-sin(-45), M21=sin(-45), M22=cos(-45))";
  zoom: 1;
 }
}

/*----------------------------------------------   
--Content
-----------------------------------------------  */
.sect-content{
  padding: 3em 0;
 
 p:first-of-type{
 	font-size:	140%;
 	line-height:	1.8;
 }
 
 h2, h3, h4{
 	color:	$color-alpha;
 }
}


/*----------------------------------------------   
--Sect-Banner
-----------------------------------------------  */ 
.sect-banner{
	background-image:	url(../images/banner-bg.gif);
	background-size:	cover;
	background-position:	50%;
	color:	#fff;
	height:	90vh;
	display:	table;
	width:	100%;
	@include gradient-overlay(#005AFF, #000397, 0.85);

	.row{
		display:	table-cell;
		vertical-align:	bottom;
		padding:	2em 2em 1em;
		z-index:	999;
		position:	relative;
		@media (min-width: $mq-med) {
			padding:	2em 3em 1em;
		}
	
		p{
			font-size: 120%;
			line-height: 1.5;
			margin: 0.4em 0;
				
			@media (min-width: $mq-med) {
				padding-right:	20%;
				font-size: 4vmin;
			}
			@media (min-width: $mq-xlarge) {
				padding-right:	22%;
				font-size: 6vmin;
			}
		}
	}
}


/*----------------------------------------------   
--Footer
-----------------------------------------------  */
footer{
	padding:	1em 0;
	border-top:	1px solid #ddd;
}

